<html>
	<head>
		<!-- This is jinja and accesses the info in views.py to get title and user info --> 
		{% if title %}
		<title> {{title}} - microblog </title>
		{% else %}
		<title> Welcome to the microblog! </title>
		{% endif %}
		

		<style>
			#index_main {
				margin: 0px 350px;
			}

			h1, h2, h3 {
				text-align: center;
			}

			#user {
				font-size: 20px;
				font-family: Impact;
				color: purple;
				text-align: center;
			}

			.Submit {
				display: inline;
				text-align: center;
			}

			#submitText {
				text-align: center;
				display: inline;
			}
		</style>
	</head>

	<body>

	<!-- This is jinja and accesses the info in views.py to get title and user info as well as the base.html for the buttons and routing in the upper left --> 
		{% extends "base.html" %}
		{% block content %}
		<div id="index_main">
		<p id="user">Would you like more feeds {{user.user_name}}??</p>
		<img src="http://i.imgur.com/XZr1Ndn.gif" />
		<h2>You are <a href="/home">{{title}}</a></h2>

		<form action="/" method="POST" name= "url_submit">
			{{form.hidden_tag()}}

			<!--     # include this every time you do a form -->
			    {% from "_formhelper.html" import render_field %}           
			    <div class="Submit"> <div id="submitText">Submit URL:<div> {{render_field(form.url)}} <input type="submit" value="SUBMIT"></div>
			  	
		</form>
		{% for name in feed_name %}
		<h3><a href="/home?feed_name={{name.Name}}"> {{name.Name}}</a></h3>
		{% endfor %}


		{% endblock %}
	</body>
</html>

